.keyboard{
    display: flex;
    gap: 1%;
    flex-wrap: wrap;
    height: 200px;
    width: 600px;
    margin-bottom: 4%;
}
.redClass {
    height: 60px;
        width: 60px;
        cursor: pointer;
        border-radius: 10px;
        background-color: red;
        border: none;
        color: white;
        font-size: 20px;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.8), 0 1px 3px rgba(15, 13, 13, 1);
}

.greenClass {
    height: 60px;
        width: 60px;
        cursor: pointer;
        border-radius: 10px;
        background-color: green;
        border: none;
        color: white;
        font-size: 20px;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.8), 0 1px 3px rgba(15, 13, 13, 1);
}
.button {
    height: 60px;
    width: 60px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(69, 69, 250);
    border: none;
    color: white;
    font-size: 20px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.8), 0 1px 3px rgba(15, 13, 13, 1);
}
.button:hover {
    background-color: blue;
}